
		/* Adjusted style for a smaller button */
		.download-button {
			display: inline-block;
			padding: 4px 10px;
			/* Smaller padding */
			color: #fff ! important;
			background-color: #007bff;
			text-decoration: none;
			border-radius: 4px;
			/* Slightly smaller border-radius */
			font-size: 0.9em;
			/* Smaller font size */
			font-weight: bold;
			transition: background-color 0.3s ease;
			border: none;
		}

		.download-button:hover {
			background-color: #0056b3;
			color: #fff;
		}

		.news-scroll p {
			display: flex;
			align-items: center;
			gap: 10px;
		}
